html, body {
  margin: 0;
  padding: 0;

  font-family: "Menlo", "Monaco", "Consolas", "Droid Sans Mono", "Inconsolata", "Courier New", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background-image: linear-gradient(to bottom, rgba(105, 48, 147, 0.1), rgba(161, 68, 255, 0.4)), url("bg.png"); */
  background-image: linear-gradient(to bottom, rgba(161, 68, 255, .2), rgba(161, 68, 255, .8)), url("bg.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.full-screen{
    min-height: 100vh;
  min-width: 100vw;
}

.container-bg{
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, .9), rgba(255, 255, 255, .8));
}

.container-bg-light{
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, .2), rgba(255, 255, 255, .3));
}
