// CONSTANTS

$red: rgba(208, 0, 0, 1);
$yellow: #f5af19;
$orange: #f12711;
$blue: rgba(63, 136, 197, 1);
$green: rgba(19, 111, 99, 1);
$gray: rgba(47, 50, 57, 1);
$gray-light: rgba(47, 50, 57, 0.8);
$white: rgba(250, 250, 250, 1);
$white-transparent-100: rgba(250, 250, 250, .1);
$purple: #8E2DE2;
$dark-purple: #4A00E0;

$selector-border-radius: 10%;

$button-size: 50px;
$loader-size: 25px;

$element-card-max-width: 200px;
$element-card-max-height: 250px;
$element-card-radius: 10%;

$colors: (
  "blue": $blue,
  "red": $red,
  "yellow": $yellow,
  "green": $green,
  "gray": $gray,
  "white": $white,
) !default;


// HELPERS
.background-gradient-properties{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.circle{ border-radius: 50%; }

.btn-circle {
  @extend .circle;
  height: $button-size;
  width: $button-size;
  display: flex;
  align-items: center;
}

.loader{
  height: $loader-size;
  width: $loader-size;
}

// MAIN
html, body {
  margin: 0;
  padding: 0;
  font-family: "Menlo", "Monaco", "Consolas", "Droid Sans Mono", "Inconsolata", "Courier New", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#main-app{
  @extend .background-gradient-properties;

  min-width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, $purple, $dark-purple);
}

#selector{
  @extend .background-gradient-properties;

  background-image: linear-gradient(to bottom, $orange, $yellow);
  border-bottom-right-radius: $selector-border-radius;
  border-bottom-left-radius: $selector-border-radius;
}

.element-card{
  max-width: $element-card-max-width;
  max-height: $element-card-max-height;
  border-radius: $element-card-radius;
}

.inset-shadow{
  -moz-box-shadow:    inset 0 0 5px #000000;
   -webkit-box-shadow: inset 0 0 5px #000000;
   box-shadow:         inset 0 0 5px #000000;
}
